<!-- <p>about works!</p> -->
<div class=" div-main">
  <h1 class="text-center about-heading">
    <span style="color:#FF0000">About </span>
    <span style="color:#66CC66">this </span>
    <span style="color:#FF9966">Angular </span>
    <span style="color:#898686">Project</span>
  </h1>
  <div class="jumbotron div-about">
    <p class="lead custom">
      This is a simple Website used to manage todo lists. It simply store data into local storage of browser.
      <br>
      So use this website as your daily todo listing.
    </p>
    <hr class="lead" />
    <p class="custom">
      This site is based on<strong> Angular</strong>.
      <br>
      ThankYou
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://linkedin.com/in/vishal-kashyap-447a451ba" role="button" target="_blank">Contact Us</a>
    </p>
  </div>
</div>
